
.container{
margin-left:35px;
margin-top:30px;
border:1px solid #ff0000;
width: 800px;
background-color:#97D077;
background-postion:fixed;
height:160px;
width:900px;
}
.field1{
padding-left:30px;
padding-top:15px;
}
.field2{
padding-left:30px;

}
.field3{
padding-left:30px;

}
.field4{
padding-left:450px;
margin-top:-125px;
}
.actions{
margin-left:680px;
padding-left:30px;
margin-top:-25px;
}
.middle{
margin-left:35px;
border:1px solid #ff0000;
width: 800px;
margin-top:-15px;
background-color:#B9E0A5;
height:40px;
width:900px;
}
.adjust{
margin-top:-35px;
margin-left:90px;
}
.bottom{
margin-left:35px;
height:600px;
 width:900px;
 background-color:#EEEEEE;
 border:1px solid #ff0000;
width:900px;
}
.align{
float:left;
margin-top:10px;
margin-left:20px;
}



























